body {
  background-color: rgb(38, 38, 38);
}

h2 {
  color: white;
  text-align: center;
}

.Heading
{
  position: absolute;
  right: 15%;
  top:1.5%;
  width: 65%;
  height:10%;
  background-color:rgb(60, 20, 84);
  color: white;
  text-align: center;
  font-size: xx-large;
  line-height: 80px;
  border-radius: 30px 30px 0px 0px;
}


.bada-dabba {
  position: absolute;
  width: 65%;
  height: 87%;
  /* background-color: rgb(28, 6, 40); */
  right: 15%;
  top: 11.5%;
  /* margin: 20px; */
  background-image: linear-gradient(rgb(51, 7, 60), rgb(2, 4, 40));
}

#ChatContainer {
  position: absolute;
  height: 82%;
  width: 95%;
  left: 2.5%;
  top: 5%;
  color: rgb(255, 255, 255);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  overflow: auto;
  scroll-behavior: smooth;
}

#text-input-box-background {
  position: absolute;
  width: 100%;
  height: 10%;
  background-color:rgb(60, 20, 84);
  bottom: 0px;
}

.TextBoxInput {
  position: absolute;
  width: 94%;
  height: 60%;
  bottom: 20%;
  right: 3%;
  border-radius: 20px;
  border: 0;
}

.HelpBox
{
  position:absolute;
  left:10px;
  bottom: 15px;
  width: 270px;
  height: 40px;
  background-color: rgb(128, 72, 128);
  color: black;
  font-size: large;
  padding: 10px;
  border-radius: 20px;

}

.BotMessage  {
  clear: both;
  align-self: flex-start;
  padding: 1.5%;
  line-height: 150%;
  background-color: rgb(167, 116, 177);
  color: black;
  border-radius: 25px;
  font-size: larger;
  max-width: 50%;
  word-wrap: inherit;
  float: left;
  margin: .5%;

}

.UserMessage  
{
  /* display: inline-block; */
  padding: 1.5%;
  line-height: 150%;
  background-color: rgb(236, 171, 250);
  color: black;
  border-radius: 25px;
  font-size: larger;
  max-width: 40%; 
  word-wrap: break-word;
  float: right;
  margin : 1%;
}


div.Container div:last-child
{
  animation: floatup 0.5s forwards;
}

.image
{
  margin: 0.5%;
  padding: 1.5%;
  border-radius: 10px;
  background-color: rgb(167, 116, 177);
  width:fit-content;
  max-width:45%
}

table, th, td
{

  max-width: 98%;
  border: 2px solid black;
  border-collapse: collapse;
  padding: 2%;
  font-size:large;

} 

.table 
{
  width: fit-content;
  margin: top 1%;;
  margin-bottom: 1%;
  padding: 2%;
  background-color: rgb(167, 116, 177);
  border-radius: 10px;
  color : black
}

@keyframes floatup {
  from {
      transform: translateY(15px);
      opacity: 0  ;
  }
  to {
      transform: translateY(0px);
      opacity: 1;
  }
}
